<div class="gallery-slider">
  <div class="button-before">
    <button mat-icon-button
            aria-label="Show previous picture"
            (click)="loadPreviousPicture()">
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>
  <div class="slider-picture-wrapper">
    <img class="slider-selected-image"
         [src]="'file://' + imagesArray[selectedImageIndex].path">
  </div>
  <div class="button-next">
    <button mat-icon-button
            aria-label="Show next picture"
            (click)="loadNextPicture()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>