.hidden-input {
  display: none;
}

.select-folder-button-label {
  background-color: #673ab7;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px #0003,0 2px 2px #00000024,0 1px 5px #0000001f;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
}