<app-gallery-sidebar id="gallery-sidebar"
                     [isSliderVisible]="isSliderVisible"
                     [availableTags]="availableTags"
                     [selectedTags]="selectedTags"
                     (selectedFolder)="onSelectedFolder($event)"
                     (closeSlider)="onCloseSlider()"
                     (addTag)="onAddTag($event)"
                     (toggleTag)="onToggleTag($event)">
</app-gallery-sidebar>
<app-gallery-slider *ngIf="isSliderVisible"
                    id="gallery-slider"
                    [(selectedImageIndex)]="selectedImageIndex"
                    [imagesPaths]="imagesPaths">
</app-gallery-slider>
<app-gallery-grid *ngIf="isGridVisible"
                  id="gallery-grid"
                  [imagesPaths]="imagesPaths"
                  (pictureSelected)="onPictureSelected($event)">
</app-gallery-grid>
