.break-word {
  word-wrap: break-word;
}

.gallery-sidebar {
  float: right;
  width: 15%;
}

.gallery-sidebar-widget {
  margin: 10px;
}

.hidden-input {
  display: none;
}

.select-folder-button-label {
  border: 1px solid #000;
  cursor: pointer;
  padding: 5px;
}