<div class="gallery-sidebar">
  <div *ngIf="isSliderVisible"
       class="gallery-sidebar-widget">
    <button id="close-slider-button"
            mat-raised-button 
            color="primary"
            (click)="onCloseSliderClick()">
      Close Slider
    </button>
  </div>
  <div *ngIf="isSliderVisible"
       class="gallery-sidebar-widget">
    <mat-form-field>
      <mat-label>Tag</mat-label>
      <input matInput
             id="new-tag-input"
             placeholder="New tag..."
             [(ngModel)]="newTag">
    </mat-form-field>
    <button id="add-new-tag-button"
            mat-raised-button
            color="primary"
            (click)="onAddTagClick()"
            aria-label="Add tag to picture">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="gallery-sidebar-widget">
    <input type="file" 
           webkitdirectory
           (change)="onDirectorySelected($event.target.files)">
  </div>
  <div *ngIf="selectedFolderPath"
       class="break-word">
    Showing: {{selectedFolderPath}}
  </div>
  <div *ngIf="availableTags.length > 0"
       class="gallery-sidebar-widget">
    <div>Tags</div>
    <ng-container *ngIf="isSliderVisible">
      <ng-container *ngFor="let tag of availableTags">
        <mat-checkbox [checked]="selectedTags.has(tag)"
                      [value]="tag"
                      (change)="onTagCheckboxChange($event)">
          {{tag}}
        </mat-checkbox>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!isSliderVisible">
      <mat-radio-group aria-label="Select an option">
        <ng-container *ngFor="let tag of availableTags">
            <mat-radio-button [value]="tag"
                              (change)="onTagRadioChange($event)">
              {{tag}}
            </mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </ng-container>
  </div>
</div>
